.database {
    &__table {
        margin-bottom: 1rem;
        tr td {
            &:nth-child(1) {
                width: 4.2%;
            }
            &:nth-child(2) {
                width: 22.3%;
            }
            &:nth-child(3) {
                width: 5.8%;
            }
            &:nth-child(4) {
                width: 24.8%;
            }
            &:nth-child(5) {
                width: 13%;
            }
            &:nth-child(6) {
                width: 13.7%;
            }
            &:nth-child(7) {
                width: 16.2%;
            }
        }
        .head td {
            height: 70px;
            position: relative;
            text-align: center;
            div {
                background: linear-gradient(#303030, #212121);
                color: #fff;
                padding: 1rem;
                font-size: 1.175em;
                height: 70%;
                box-shadow: 0px 0px 5px 0px rgba(112, 112, 112, 0.75);
            }
            &:after {
                content: '';
                border: solid 1px #999999;
                right: 0;
                height: 50%;
                position: absolute;
                top: 10%;
            }
            &:last-child:after {
                display: none;
            }
            &.tal {
                text-align: left;
            }
        }
        tr:not(.head) {
            td {
                color: #333;
                &.numbers {
                    font-size: 30px;
                }
            }
        }
    }
}
