.header-bottom {
    position: relative;
    &:before {
        content: '';
        background: url('../images/rectangle.png');
        background-size: 100%;
        background-repeat: no-repeat;
        width: 100%;
        display: block;
        height: 10px;
        position: absolute;
        bottom: 0;
        z-index: 2;
        left: 0;
    }
    .header__container {
        @include innerbox(0,
        1);
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .logo {
        float: left;
    }
    .search {
        float: right;
        margin-top: 0.5rem;
        position: relative;
        margin-right: 3rem;
        input[type="text"] {
            font-size: 18px;
            padding: 8px 10px;
            box-shadow: inset 0px 0px 6px 0px rgba(0, 0, 0, 0.75);
            border: 0;
            width: 300px;
            box-sizing: border-box;
        }
        input[type="submit"] {
            font-family: fontawesome;
            font-size: 1.35rem;
            color: #fff;
            padding: 7px 10px;
            position: absolute;
            right: 0;
            top: 0;
            background: linear-gradient(to bottom, rgba(1, 106, 106, 1) 0%, rgba(0, 42, 42, 1) 51%, rgba(1, 106, 106, 1) 100%);
            border: 0;
            box-shadow: inset 0px 0px 10px 4px rgba(0, 42, 42, 1);
            cursor: pointer;
        }
    }
    @include breakpoint(max-width 768px) {
        .logo {
            float: none;
        }
        .search {
            float: none;
            width: 100%;
            margin: 1rem 0;
            clear: both;
            input[type="text"] {
                width: 100%;
            }
        }
    }
}
